@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
.background,
.bground {
    background: rgba(31, 23, 33, 1);
}

input {
    outline: none;
    border: transparent;
    background: transparent;
}

.outline-none {
    outline: none;
}

.shadow-none {
    box-shadow: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: .5rem;
    background-color: rgb(55, 46, 57);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: rgba(44,215,184,255);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2cd4cd;
}

.modal-message{
    border: .5rem solid rgba(44,215,184,255);
}

.modal-message .modal-body form input:focus,
.modal-message .modal-body form textarea:focus{
    box-shadow: initial;
    border-color: initial;
}
.modal-colse{
    background-color: rgba(44,215,184,255);
}
/* navbar-nav menu */
.navbar{
    height: 5rem;
}
.navbar-nav {
    text-align: center;
}

.nav-logo {
    max-width: 7rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background: white;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: rgba(31, 23, 33, 1);
}

.nav-shadow {
    top: -1.5rem;
    z-index: -1;
}

.nav-item a::before{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2cd4cd;
    bottom: -5px;
    transition: .4s transform;
    transform: scaleX(0);
    transform-origin: right;
}

.nav-item a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

/* Есть задача? */
.card-text {
    font-weight: 300;
    font-size: 1rem;
}

.cards .card-body h1{
    font-size: 4.5rem;
}

.face {
    position: relative;
}

.shadow-img {
    position: absolute;
    top: -25%;
    left: 40%;
    z-index: -1;
}

/* brands */

.brands{
    margin-top: 10rem;
    margin-bottom: 5rem;
}

#brands .swiper {
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));

}
#brands .swiper-wrapper>* {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}
.brands-shadow {
    top: -8rem;
    left: -1rem;
    z-index: 1;
    height: 20rem;
    width: 20rem;
}

.brands-img{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.sample-slider {
    height: calc(calc(151px * 2) + 30px);
    padding-bottom: 80px;
}

.sample-slider .slidePrev-btn,
.sample-slider .slideNext-btn {
    position: absolute;
    bottom: 0;
    top: initial !important;
    z-index: 20;
    border-radius: 7px;
}

.sample-slider .slideNext-btn {
    left: 4rem;
}

.sample-slider .slideNext-btn.swiper-button-disabled,
.sample-slider .slidePrev-btn.swiper-button-disabled {
    background: transparent;
}

.sample-slider .slidePrev-btn i,
.sample-slider .slideNext-btn i {
    font-size: 25px;
    background: transparent;
    padding: 1px .5rem;
    border-radius: 7px;
    border: 1px solid rgba(44,215,184,255);
    color: rgba(44,215,184,255);
}

/* Discover */
.rounded {
    padding: .2rem .5rem;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.post {
    background: rgba(41, 33, 42, 1);
    border: 1rem solid rgba(41, 33, 42, 1);
    margin-bottom: 4rem;
}
.post .card-body{
    height: 100%;
}

.post button{
    color: white;
    font-size: 14px;
    padding: 5px;
    border: 1px solid white;
}

.card-img-top {
    width: 100%;
}

.heart-group{
    top: 1rem;
    right: 1rem;
    padding: .7rem 1rem;
    background: rgba(99, 99, 99, 0.54);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart-group i{
    font-size: 20px;
    color: rgb(255, 0, 0);
}

.heart-group .heart-hover{
    display: none;
}

.heart-group:hover .heart-hover{
    display: block;
}

.heart-group:hover .heart{
    display: none;
}

.jimmy {
    bottom: -1.8rem;
    left: 1rem;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.discover-swiper {
    width: calc(100% - 120px);
    box-sizing: content-box;
    padding: 0 60px;
    margin-bottom: 4rem;
}

.container-self {
    max-width: calc(1440px + 120px);
}

.discover-swiper .slidePrev-btn,
.discover-swiper .slideNext-btn {
    position: absolute;
    bottom: 50%;
    top: initial !important;
    z-index: 9999;
    cursor: pointer;
    border-radius: 27px;
}

.discover-swiper .slidePrev-btn {
    left: 0;
}

.discover-swiper .slideNext-btn {
    right: 0;
}

.discover-swiper .slidePrev-btn i,
.discover-swiper .slideNext-btn i {
    font-size: 25px;
    background: initial;
    padding: .5rem;
    border-radius: 50%;
    border: 1px solid rgba(219, 88, 236, 0.5);
    color: rgba(219, 88, 236, 0.5);
}

.discover-swiper .slidePrev-btn i {
    border-right: none;
}

.discover-swiper .slideNext-btn i {
    border-left: none;
}

/* Collection */
.collection-top {
    margin-bottom: 4rem;
}
  
.collection-swiper {
    width: 100%;
    height: calc(calc(320px * 2) + 30px);
    padding-bottom: 50px;
    box-sizing: content-box;
    display: flex;
}

.collection .swiper-pagination-bullet {
    width: 70px;
    height: 7px;
    border-radius: 15px;
    background-color: #322A33;
    opacity: 1;
}

.collection .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: rgba(44,215,184,255);
}

.collection-shadow {
    top: -5rem;
    z-index: -1;
}

.collection-card {
    width: 100%;
    border-radius: 27px;
    border: 1rem solid rgba(54, 44, 56, 0.36);
    background: rgba(54, 45, 55, 0.72);
}

.collection-card img {
    object-fit: cover;
}

.colliction-icon{
    font-size: 2rem;
    color: rgb(255, 255, 255);

}

.collection-img {
    width: 100%;
    height: 230px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    object-fit: cover;
}

.collection-title {
    font-size: 24px;
}

/* Commonity */
.commonity {
    margin: 5rem 0;
}

.select {
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.commonity .nav-link {
    color: rgba(44,215,184,255) !important;
    font-size: 20px;
    font-weight: 300;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 0;
}

.commonity .nav-link {
    margin-bottom: 0;
}
.nav-link {
    font-weight: 300;
    font-size: 1rem;
}

.commonity .nav-link:hover,
.commonity .nav-link.active {
    background: rgba(54, 45, 55, 0.72);
    border-top: rgba(54, 45, 55, 0.72);
    border-left: rgba(54, 45, 55, 0.72);
    border-right: rgba(54, 45, 55, 0.72);
}

.commonity .nav-tabs .nav-link {
    border: initial;
}

.dream-card {
    border-radius: 27px;
    background: rgba(46, 8, 51, 1);
}

.dream-card img {
    overflow: hidden;
    border-top-right-radius: 27px;
    border-top-left-radius: 27px;
    object-fit: cover;
}

.dream-title {
    font-size: 24px;
    font-weight: 400;
}

.dream-text {
    font-size: 16px;
    font-weight: 200;
}

.dream-icons a{
    font-size: 20px;
}

/* Workers */
.work {
    margin-bottom: 4rem;
}

.work .card {
    background: linear-gradient(90deg, #2cd4cd 15%, transparent 60%);
    padding: 1px;
    border-radius: 27px;
    border: none;
    height: 100%;
}

.work .card-body {
    background: rgba(31, 23, 33, 1);
    padding: 30px;
    border-radius: 28px;

}

.work-body-title {
    font-size: 40px;
    font-weight: 600;
}

.work-body-text {
    font-size: 20px;
    font-weight: 300;
}

.work-button:hover {
    background: #2cd4cd;
}

.work .card-body i {
    font-size: 2.3rem;
    border-radius: 7px;
    border: 1px solid rgba(44,215,184,255);
}

.work-subtitle {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.work-text {
    font-size: 15px;
    font-weight: 200;
}


/* Degital */
.digital {
    background: rgba(166, 88, 179, 1);
    border-radius: 27px;
    margin: 5rem 0;
}

.absolute-centered {
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.digital-creator h1 {
    font-size: 24px;
    font-weight: 600;
}

.digital-creator p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .7px;
}

.digital-group {
    background: rgba(115, 8, 133, 0.5);
    border: none;
    border-radius: 27px;
}

.work-button::placeholder {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
}

.digital-creator button {
    background: rgba(217, 217, 217, 1);
}

.digital-creator button:hover {
    background: rgb(232, 232, 232);
}

.footer .footer-icons i {
    font-size: 1.5rem;
}

.footer h4 {
    font-size: 20px;
    font-weight: 400;
}

.footer li {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.colors{  
    color: rgba(44,215,184,255);
}
.ourPartners .swiper-wrapper {
    height: 202px;
}
.our-partner-box {
    width: 170px;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(1) opacity(0.5);
    transition: 250ms;
}
.our-partner-box:hover {
    filter: grayscale(0) opacity(1);
    transform: scale(1.02);
}
@media screen and (max-width: 1024px) {
    .shadow-img {
        top: 15%;
        left: 15%;
    }

    .swiper-img {
        width: 15rem;
        height: 6rem;
    }

    .swiper-img img {
        width: 45%;
        height: 23%;
    }



}

@media screen and (max-width: 993px) {
    .flex-col {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .face {
        width: 450px;
        height: 450px;
        margin-bottom: 5rem;
    }

    .shadow-img {
        top: 5%;
        left: 5%;
    }

    .card-body {
        width: 100%;
    }

    .cards .card-body h1{
        font-size: 4rem;
    }
    .sample-slider {
        height: calc(calc(100px * 2) + 30px);
    }
}

@media screen and (max-width: 768px) {
    .face {
        height: auto;
        margin-bottom: 0;
    }

    .shadow-img {
        top: 5%;
        left: 5%;
    }

    .collection .swiper-pagination-bullet {
        width: 50px;
        height: 6px;
    }

    .work-body-text {
        font-size: 16px;
    }

    .digital button {
        font-size: 12px;
    }

    .swiper-img img {
        width: 65%;
        height: 33%;
    }

}


@media screen and (max-width: 570px) {
    .face {
        margin-bottom: 3rem;
        width: 60%;
        height: auto;
    }

    .shadow-img {
        width: 90%;
        height: auto;
        top: 30%;
        left: 5%;
    }

    .card-title {
        font-size: 35px;
    }

    .discover-swiper .slidePrev-btn i,
    .discover-swiper .slideNext-btn i {
        font-size: 20px;
        padding: .2rem;
    }

    .post {
        border: .5rem solid rgba(41, 33, 42, 1);
    }

    .collection .swiper-pagination-bullet {
        width: 30px;
        height: 4px;
    }

    .sample-slider {
        padding-bottom: 100px;
    }

    .sample-slider .slideNext-btn {
        right: 0;
        left: initial;
    }

    .collection-title{
        font-size: 16px;
    }

    .collection-card{
        width: 80%;
    }

    .cards .card-body h1{
        font-size: 2.5rem;
    }

    .brands-shadow {
        top: -4rem;
        z-index: -1;
        right: 20rem;
    }
    .sample-slider {
        height: calc(calc(70px * 2) + 20px);
    }
}

@media screen and (max-width: 480px) {
    .sample-slider {
        width: 100%;
        height: calc(calc(70px * 2) + 10px);
        padding-bottom: 10px;
        box-sizing: content-box;
    }
}

@media screen and (max-width: 416px) {
    .commonity .nav-link {
        font-size: 16px;
    }

    .collection-card{
        width: 100%;
    }
    .discover-swiper {
        width: 100%;
        margin-bottom: 4rem;
        box-sizing: border-box;
        padding: 0;
    }

    .cards .card-body h1{
        font-size: 2rem;
    }

    .brands-shadow {
        top: -6rem;
        z-index: -1;
        right: 9rem;
    }
}

@media screen and (max-width: 320px) {
    .face {
        height: auto;
    }

    .card-title {
        font-size: 25px;
    }

    .card-text {
        font-size: 13px;
    }

    .commonity .nav-link {
        font-size: 12px;
    }

    .cards .card-body h1{
        font-size: 1.5rem;
    }
    .brands-shadow {
        top: -4rem;
        z-index: -1;
        right: 6rem;
    }
}